h1 {
    color: palevioletred;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-heading {
    color: plum;
}

.purple-text {
    color: rgb(149, 104, 189);
}

.pfp {
    border-width: 5px;
    border-color: blueviolet;
    border-style: outset;
    border-radius: 15px;
    margin: auto;
    width: 50%;
    text-align: center padding: 20px;
    margin: 20px;

    box-shadow: 0 5px 8px 2px rgba(83, 83, 83, 0.1);
}

body {
    background-color: #ffebfd;
}